._content-2 {
  border: none !important;
  padding-top: 0px;
}

._social-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0px;
  margin-right: 6px;
  cursor: pointer;
}

._social-btn,
._social-btn:focus,
._social-btn:active {
  outline: none;
}

.contact-list {
  height: 177px;
  z-index: 1000;
}

.share-pin-text {
  color: #555;
  line-height: 16px;
}