.m-popup,
.info-popup {
  color: #555 !important;
  padding: 0px !important;
  margin: 0px !important;
}

.m-popup .item,
.info-popup .item {
  line-height: 30px;
  margin: 0px !important;
}

.info-popup ._item:hover,
.m-popup .item:hover {
  background-color: rgb(239, 239, 239) !important;
}

.m-popup .item:first-child,
.info-popup .item:first-child,
.info-popup .item:nth-child(2) {
  border-bottom: 1px solid rgb(239, 239, 239) !important;
}

.m-popup .item:last-child {
  border-top: 1px solid rgb(239, 239, 239) !important;
}

._i-popup {
  padding: 0px !important;
}

.search-input input,
.search-user-input input,
._input {
  color: #555 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  outline: none !important;
  text-overflow: ellipsis !important;
  border: 0px !important;
}

.search-input input:focus,
.search-user-input input:focus,
._input:focus {
  outline: none !important;
  border: 0px !important;
}

.search-input input,
.search-user-input input{
  background-color: #efefef !important;
}

.f-size-16 {
  font-size: 16px;
}

.f-size-18 {
  font-size: 16px;
}

.color-555 {
  color: #555;
}

.color-181 {
  color: rgb(181, 181, 181) !important;
}

.l-height-18 {
  line-height: 18px;
}

.p-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.c-pointer {
  cursor: pointer;
}

.hover-effect:hover {
  outline: none !important;
  background-color: #EFEFEF;
}

.padd-1 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}