.create-pin-header {
  font-size: 24px !important;
  text-align: center;
}

.cancel-btn {
  color: grey !important;
}

.close-icon-wrap {
  float: right;
}

.close-icon {
  background-color: transparent;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.close-icon img {
  vertical-align: middle;
}