.home-root {
  width: 100% !important;
  padding: 0px;
}

.overlay-div {
  bottom:0px;
  left:0px;
  right:0px;
  top:0px;
  position:fixed;
  background:rgba(0, 0, 0, .5);
}

.bg-image {
  height:100%;
  width:100%;
  background-color:#000000;
  background-image:url("../../assets/images/pinterest-home.jpg");
  background-position:0px 0px;
  background-size:cover;
  padding-bottom:1400px;
  position:fixed;
  animation:scrollBg 35s linear;
  -mozkit-animation:scrollBg 35s linear;
  -webkit-animation:scrollBg 35s linear;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
}

@keyframes scrollBg {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-300px);
  }
}

.div-id-1 {
  bottom:0px;
  left:0px;
  right:0px;
  top:0px;
  position:fixed;
}

.div-id-2 {
  position:absolute;
  width:100%;
  z-index:2;
}

.div-id-3 {
  background-color:#fff;
  border-radius:8px;
  min-height:533px;
  margin-top:-266px;
  width:400px;
  left:50%;
  top:50%;
  position:absolute;
  transform:translateX(-50%);
}

.div-id-4 {
  margin:30px auto 0;
  position:relative;
  height:55px;
  width:55px;
}

.div-id-5 {
  margin:10px 26px 35px;
  text-align:center;
  font-weight:bold;
  font-size:28px;
  color:#555;
}

.div-id-6 {
  margin:0 auto;
  position:relative;
  text-align:center;
}

.div-id-7 {
  margin:0 auto;
  width:268px;
}

.div-id-8 button:first-child {
  margin-bottom: 10px !important;
}

.div-id-9 {
  margin-top: 15px;
}

.p-or {
  margin-top: 10px;
  margin-bottom:10px;
  overflow:hidden;
  text-align:center;
  color:#555;
  font-weight:bold;
}

.span-id-1 {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-size:11px;
  font-weight:normal;
  text-align:center;
  -webkit-transition:opacity .2s linear;
  transition:opacity .2s linear;
  color:#aaa;
  width:224px;
}

.span-id-1 a {
  color: #717171 !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.home-link {
  display: block;
}

.home-link,
.home-link:active,
.home-link:visited {
  text-decoration: none;
}

.home-button {
  border:0px;
  height:36px;
  display:inline-block;
  border-radius:4px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  padding:0 43px;
  font-size:15px;
  font-weight:bold;
  outline:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  cursor:pointer;
  margin-top:10px;
  vertical-align:middle;
  text-align:center;
  background-color:#ebebeb;
  color:#444;
  position:absolute;
  right:25px;
  top:15px;
}