.custom-menu {
  height: 60px !important;
}

.custom-menu .item,
.custom-menu .item a,
.custom-menu .item:before {
  border-left: none !important;
  background: none !important;
  color: #717171 !important;
}

.menu-item {
  box-sizing: border-box !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.menu-item a {
  font-weight: bold !important;
  text-decoration: none !important;
  font-size: 16px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.item_1 {
  line-height: 50px !important;
  color: #717171 !important;
}

.item_2 {
  font-size: 45px !important;
  color: #717171 !important;
}

.menu-item a:focus,
.btn-1:focus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, .5) !important;
  outline: 0 !important;
}

.menu-item a:focus,
.btn-1:focus,
.menu-item a:hover,
.btn-1:hover {
  border-radius: 999px !important;
  background-color: #efefef !important;
}

.btn-1 {
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  outline: none;
  line-height: 60px !important;
  height: 48px;
  width: 48px;
  text-align: center;
}
.btn-1 svg {
  fill: #b5b5b5 !important;
}

.c-popup {
  padding: 0px !important;
}

.dots-svg {
  display: inline !important;
  vertical-align: 0 !important;
}

.right-menu {
  margin-right: 25px !important;
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
  .search-menu-item {
    display: none !important;
  }
}

@media only screen and (min-width: 770px) {
  .search-menu-item {
    width: 50%;
  }
}

@media only screen and (min-width: 875px) {
  .search-menu-item {
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  .search-menu-item {
    width: 65%;
  }
}

@media only screen and (min-width: 1200px) {
  .search-menu-item {
    width: 70%;
  }
}

@media only screen and (min-width: 1300px) {
  .search-menu-item {
    width: 75%;
  }
}

@media only screen and (min-width: 1600px) {
  .search-menu-item {
    width: 80%;
  }
}