.m-popup {
  width: 230px;
  font-size: 18px;
  color: #555 !important;
  cursor: pointer;
  padding: 0px !important;
  margin: 0px !important;
}

.m-popup .item {
  line-height: 30px;
  margin: 0px !important;
  padding: 10px 16px !important;
}

.m-popup .item:first-child {
  border-bottom: 1px solid rgb(239, 239, 239) !important;
}
.m-popup .item:last-child {
  border-top: 1px solid rgb(239, 239, 239) !important;
}

.m-popup .item:hover {
  background-color: rgb(239, 239, 239) !important;
}